<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="Name of Dog">
  <input type="text" name="breed" placeholder="Breed of Dog">
  <input type="text" name="puppies" placeholder="How many puppies?">
  <input type="submit" value="Create Dog">
</form>